<div style="margin-top: 20px; text-align: center;">
	<div class="container">
		<div class= "row">
			<div class="col-sm-12">
				<div class="row">
					<div class = "col-3 col-sm-3">
				    	<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">
					    	<h5>Ex Raid</h5>
					    	<h5>Level 1</h5>`
							<div style="position:absolute; bottom:0; width:85%; height:75px; text-align:center;">
				    			<%= link_to "Inventory", inventory_path %> <br>
				    			<%= link_to "Status", status_path %>
				    		</div>
				      	</div>
					</div>
	    			<div class="col-8 col-sm-8">
	       				<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">
	       					<div class="row">
	       						<div class="col-sm-2">
									<%= image_tag("Ex Raid - Combat.png", size: "120x200") %>	
								</div>
								<div class="col-sm-2">
									<%= image_tag("Courageous - Combat.png", size: "120x200") %>	
								</div>
								<div class="col-sm-2">
									<%= image_tag("Gunner - Combat.png", size: "120x200") %>	
								</div>
	       					</div>
		  				</div>
				  	</div>
	     			<div class= "col- 11 col-sm-11">
						<div style="width: 100%; padding: 3px; border: 3px solid gray; margin-top: 15px;">
							<div class="row">
								<div class="col-sm-2">
									<%= image_tag("Ex Raid small.png", size: "100x100") %>	
								</div>
								<div class="col-sm-2">
									<h4>HP:</h4><br>
									<h4>Status:</h4>
								</div>
								<div class="col-sm-2">
									<div class="progress" style="margin-top: 10px;">
							  			<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
							  			</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
	     		</div>
			</div>		
		</div>
	</div>
</div>