<h1>Weapons#new</h1>
<p>Find me in app/views/weapons/new.html.erb</p>

<h1>Add Weapon</h1>
<%= form_for :weapon, url: weapons_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :value %><br>
		<%= f.text_field :value %>
	</p>

	
	<p>
		<%= f.submit %>
	</p>
<% end %>